// Hopscotch highlight

#hopscotch-overlay,
.hopscotch-overlay {
  position: fixed;
  z-index: 999990;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(000000-0.5.png);
  background: rgba(0,0,0,.4);
}

.hopscotch-highlighted {
  position: relative;
  z-index: 999992;
}

#hopscotch-highlight {
  position: absolute;
  z-index: 999991;
  background: #fff;
  background: rgba(255,255,255,.9);
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}
